:root {
	--shj-white: #c5cdd9;
	--shj-gray-1: #828997;
	--shj-gray-2: #5c6370;
	--shj-cyan: #4ddbc1;
	--shj-blue: #6cb6eb;
	--shj-purple: #d38aea;
	--shj-green: #7fcd6e;
	--shj-red: #ec7279;
	--shj-orange: #e2b35e;
	--shj-yellow: #e3d23c;
	--shj-syntax-fg: var(--shj-white);
	--shj-syntax-bg: #222224;
	--shj-selection: #3f445b;
	--shj-shaddow-color: #00000070;
}

[class*='shj-lang-'] {
	background: var(--shj-syntax-bg);
	color: var(--shj-white);
	text-shadow: 0 1px var(--shj-shaddow-color);
	white-space: pre;
	padding: 30px 20px;
	text-shadow: none;
	font-family: Source Sans Pro, Fira Code, Courier New, Monaco, Andale Mono, Ubuntu Mono, monospace;
	line-height: 24px;
	box-sizing: border-box;
	max-width: min(100%, 100vw);
	tab-size: 6;
	-o-tab-size: 6;
}

[class*='shj-lang-'] > div {
	display: flex;
	overflow: auto;
}
[class*='shj-lang-'] > div :last-child {
	flex: 1;
	outline: none;
}

/* Selection */
[class*='shj-lang-'] *::-moz-selection {
	background: var(--shj-selection);
	color: inherit;
	text-shadow: none;
}

[class*='shj-lang-'] *::selection {
	background: var(--shj-selection);
	color: inherit;
	text-shadow: none;
}

.shj-inline {
	margin: 0;
	padding: 2px 5px;
	display: inline-block;
	border-radius: 5px;
}

.shj-numbers {
	padding-left: 5px;
	counter-reset: line;
}
.shj-numbers div {
	padding-right: 5px;
}
.shj-numbers div:before {
	color: #999;
	display: block;
	content: counter(line);
	opacity: 0.5;
	text-align: right;
	margin-right: 5px;
	counter-increment: line;
}

.shj-syn-cmnt {
	color: var(--shj-gray-2);
}

.shj-syn-class {
	color: var(--shj-orange);
}

.shj-syn-kwd {
	color: var(--shj-purple);
}

.shj-syn-deleted {
	color: var(--shj-red);
}

.shj-syn-str,
.shj-syn-insert {
	color: var(--shj-green);
}

.shj-syn-var,
.shj-syn-func {
	color: var(--shj-blue);
}

.shj-syn-oper,
.shj-syn-bool {
	color: var(--shj-cyan);
}

/* CSS overrides */
.shj-lang-css {
	color: var(--shj-red);
}

.shj-lang-css .shj-syn-var {
	color: var(--shj-white);
}

.shj-lang-css .shj-syn-func,
.shj-lang-css > .shj-syn-func {
	color: var(--shj-cyan);
}

.shj-lang-css > .shj-syn-str.url {
	color: var(--shj-green);
}

/* JS overrides */
.shj-lang-js .shj-syn-oper {
	color: var(--shj-purple);
}

/* JSON overrides */
.shj-lang-json .shj-syn-oper {
	color: var(--shj-white);
}

.shj-lang-http.shj-oneline .shj-syn-kwd {
	background: blue;
	color: var(--white);
	padding: 5px 7px;
	border-radius: 5px;
}
/* General */

.shj-syn-cmnt,
.shj-syn-func,
.shj-syn-bool {
	font-style: italic;
}
