#carousel-1:checked + .carousel-item,
#carousel-2:checked + .carousel-item,
#carousel-3:checked + .carousel-item {
	position: static;
	opacity: 1;
}

#carousel-1:checked ~ .carousel-item,
#carousel-2:checked ~ .carousel-item,
#carousel-3:checked ~ .carousel-item {
	-webkit-transition: opacity 0.75s ease-out;
	transition: opacity 0.75s ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
	display: block;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
	color: rgb(59, 130, 246) /* blue-500 */;
}
