.txt-cursor {
	white-space: nowrap;
	overflow: hidden;
	border-right: 0.2ch solid skyblue;
	animation: blink 0.75s steps(1) infinite normal;
}

code {
	font-family: 'Fira Code', monospace;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
