:root {
	--glitch-blue: #67f3da;
	--glitch-red: #f16f6f;
}

h1,
h2,
h3,
h4 {
	font-size: 3rem;
	font-weight: 500;
	margin: 0;
	line-height: 0;
	animation: Glitch1 2.5s infinite;
}

h2:nth-child(2) {
	color: var(--glitch-blue);
	animation: Glitch2 2.5s infinite;
}

h2:nth-child(3) {
	color: var(--glitch-red);
	animation: Glitch3 2.5s infinite;
}

h3:nth-child(2) {
	color: var(--glitch-blue);
	animation: Glitch2 2.5s infinite;
}

h3:nth-child(3) {
	color: var(--glitch-red);
	animation: Glitch3 2.5s infinite;
}

h4 {
	font-size: 3rem;
	margin: 0;
	line-height: 0;
	animation: Glitch1 2.5s infinite;
}

h4:nth-child(2) {
	color: var(--glitch-blue);
	animation: Glitch2 2.5s infinite;
}

h4:nth-child(3) {
	color: var(--glitch-red);
	animation: Glitch3 2.5s infinite;
}

hr {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	animation: Glitch1 2.5s infinite;
}

hr:nth-child(2) {
	color: var(--glitch-red);
	animation: Glitch3 2.5s infinite;
}

hr:nth-child(3) {
	color: var(--glitch-blue);
	animation: Glitch2 2.5s infinite;
}

@keyframes Glitch1 {
	0% {
		transform: none;
		opacity: 0.75;
	}
	7% {
		transform: skew(-0.5deg, -0.9deg);
		opacity: 0.5;
	}
	10% {
		transform: none;
		opacity: 0.75;
	}
	27% {
		transform: none;
		opacity: 0.75;
	}
	30% {
		transform: skew(0.8deg, -0.1deg);
		opacity: 0.5;
	}
	35% {
		transform: none;
		opacity: 0.75;
	}
	52% {
		transform: none;
		opacity: 0.75;
	}
	55% {
		transform: skew(-1deg, 0.2deg);
		opacity: 0.5;
	}
	50% {
		transform: none;
		opacity: 0.75;
	}
	72% {
		transform: none;
		opacity: 0.75;
	}
	75% {
		transform: skew(0.4deg, 1deg);
		opacity: 0.5;
	}
	80% {
		transform: none;
		opacity: 0.75;
	}
	100% {
		transform: none;
		opacity: 0.75;
	}
}

@keyframes Glitch2 {
	0% {
		transform: none;
		opacity: 0.125;
	}
	7% {
		transform: translate(-2px, -3px);
		opacity: 0.25;
	}
	10% {
		transform: none;
		opacity: 0.125;
	}
	27% {
		transform: none;
		opacity: 0.125;
	}
	30% {
		transform: translate(-5px, -2px);
		opacity: 0.25;
	}
	35% {
		transform: none;
		opacity: 0.125;
	}
	52% {
		transform: none;
		opacity: 0.125;
	}
	55% {
		transform: translate(-5px, -1px);
		opacity: 0.25;
	}
	50% {
		transform: none;
		opacity: 0.125;
	}
	72% {
		transform: none;
		opacity: 0.125;
	}
	75% {
		transform: translate(-2px, -6px);
		opacity: 0.25;
	}
	80% {
		transform: none;
		opacity: 0.125;
	}
	100% {
		transform: none;
		opacity: 0.125;
	}
}

@keyframes Glitch3 {
	0% {
		transform: none;
		opacity: 0.125;
	}
	7% {
		transform: translate(2px, 3px);
		opacity: 0.25;
	}
	10% {
		transform: none;
		opacity: 0.125;
	}
	27% {
		transform: none;
		opacity: 0.125;
	}
	30% {
		transform: translate(5px, 2px);
		opacity: 0.25;
	}
	35% {
		transform: none;
		opacity: 0.125;
	}
	52% {
		transform: none;
		opacity: 0.125;
	}
	55% {
		transform: translate(5px, 1px);
		opacity: 0.25;
	}
	50% {
		transform: none;
		opacity: 0.125;
	}
	72% {
		transform: none;
		opacity: 0.125;
	}
	75% {
		transform: translate(2px, 6px);
		opacity: 0.25;
	}
	80% {
		transform: none;
		opacity: 0.125;
	}
	100% {
		transform: none;
		opacity: 0.125;
	}
}
