html {
	background-color: rgb(24, 24, 27) !important;
}

body {
	overflow: overlay;
}

::-webkit-scrollbar {
	width: 0.4rem;
	height: 0.4rem;
}

::-webkit-scrollbar:active {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track:hover {
	background: rgba(107, 114, 128, 0.6); /* gray-500 */
	border-radius: 0.5rem;
}

::-webkit-scrollbar-track:active {
	background: rgba(75, 85, 99, 0.73); /* gray-600 */
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: rgb(59, 130, 246) /* blue-500 */;
}

::-webkit-scrollbar-thumb:active {
	background-color: rgb(37, 99, 235) /* blue-600 */;
}

* img:before {
	display: none;
}

* img:after {
	content: 'Uh Oh! Image not found: "' attr(alt) '"';
	display: block;
	position: absolute;
	padding: 5%;
	top: 50%;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgb(31, 41, 55) /* gray-800 */;
	z-index: 10;
	border-radius: 0.5rem;
}
