@import './styles/nunito.scss';

html {
	background-color: #d4d4d4;
}

article {
	background-color: #d4d4d4;
	line-height: 2;
	// font-weight: 600;
	font-family: 'Nunito', sans-serif;
	padding: 0.25rem;

	body {
		margin: 0 !important;
	}

	pre,
	code {
		font-family: Menlo, Monaco, 'Courier New', monospace;
	}

	pre {
		padding: 0.5rem;
		line-height: 1.25;
		overflow-x: scroll;
	}

	a,
	a:visited {
		font-style: italic;
		text-decoration: underline;
		text-decoration-color: #3b82f6;
		text-decoration-thickness: 0.125rem;
	}

	a:hover,
	a:focus,
	a:active {
		font-style: italic;
		text-decoration: underline;
		text-decoration-color: #3b82f6;
		text-decoration-thickness: 0.125rem;
		color: #3b82f6;
	}

	p {
		font-size: 1rem;
	}

	h1,
	h2,
	h3,
	h4 {
		margin: 1.414rem 0 0.5rem;
		font-weight: inherit;
		line-height: 1.42;
	}

	h1 {
		text-align: center;
		margin-top: 0;
		font-size: 3.998rem;
		@media screen and (max-width: 768px) {
			font-size: 2.827rem;
		}
	}

	h2 {
		font-size: 2.827rem;
		@media screen and (max-width: 768px) {
			font-size: 2.074rem;
		}
	}

	h3 {
		font-size: 1.333rem;
	}

	h4 {
		font-size: 1.414rem;
	}

	h5 {
		font-size: 1.121rem;
	}

	h6 {
		font-size: 0.88rem;
	}

	small {
		font-size: 0.707rem;
	}

	h1,
	h2,
	h3 {
		border-bottom: 0.125rem solid #3f3f46;
		margin-bottom: 1.15rem;
		padding-bottom: 0.5rem;
		font-weight: bold;
	}

	blockquote {
		border-left: 0.5rem solid #3f3f46;
		padding: 0.5rem;
		margin: 0.5rem;
	}

	hr {
		border: 0;
		border-bottom: 0.125rem solid #3f3f46;
		margin: 1.5rem 0;
	}

	pre,
	code {
		background-color: #3f3f46;
		color: #d4d4d4;
	}

	table {
		border-collapse: collapse;
		width: 100%;
	}

	@media print {
		line-height: normal;
		font-family: 'Nunito', 'Roboto', 'Poppins', Arial, Helvetica, sans-serif;

		*,
		*:before,
		*:after {
			background: transparent;
			color: #262626;
			box-shadow: none;
			text-shadow: none;
		}

		a,
		a:visited {
			text-decoration: underline;
		}

		a[href]:after {
			color: #3b82f6;
			content: ' (' attr(href) ')';
		}

		abbr[title]:after {
			color: #3b82f6;
			content: ' (' attr(title) ')';
		}

		a[href^='#']:after,
		a[href^='javascript:']:after {
			color: #3b82f6;
			content: '';
		}

		pre,
		blockquote {
			page-break-inside: avoid;
			border-left: 0.5rem solid #3f3f46;
			padding: 1px 0.5rem;
			margin: 1px 0.5rem;
		}

		thead {
			display: table-header-group;
		}

		tr,
		img {
			page-break-inside: avoid;
		}

		img {
			max-width: 100%;
		}

		h2,
		h3 {
			page-break-after: avoid;
		}
	}
}
